<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
   
    <title>Chat</title>
</head>
<body>
  
    <div class="app">
        <h1 class="chatTitle">Bienvenue sur chat</h1>


        <div class="container">
            <div class="channelList">
                <h1>Liste des channels</h1>
            </div>
    
            <div class="msgContainer" id="msgContainer"></div>
        </div>
        
        <div id="isWritting"></div>
        <form  method="POST" id="chatForm">
            <input type="text" id="msgInput"  autofocus>
            
            <input type="submit" id="btnSend" value="Envoyer">
        </form>

    </div>
    
    <!-- <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>


    <script src="chat.js"></script>
    
</body>
</html>